<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,915},{72,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>cgsb.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{494,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,151}}</string>
                <key>sourceSize</key>
                <string>{494,151}</string>
            </dict>
            <key>db.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1951},{228,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,77}}</string>
                <key>sourceSize</key>
                <string>{228,77}</string>
            </dict>
            <key>fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,915},{72,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,94}}</string>
                <key>sourceSize</key>
                <string>{72,94}</string>
            </dict>
            <key>fk.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,841},{72,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>g.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,587},{260,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,74}}</string>
                <key>sourceSize</key>
                <string>{260,74}</string>
            </dict>
            <key>gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,989},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>gxtg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1681},{494,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,268}}</string>
                <key>sourceSize</key>
                <string>{494,268}</string>
            </dict>
            <key>huangse.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,663},{252,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,87}}</string>
                <key>sourceSize</key>
                <string>{252,87}</string>
            </dict>
            <key>jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{1110,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1110,20}}</string>
                <key>sourceSize</key>
                <string>{1110,20}</string>
            </dict>
            <key>jdtdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1117,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1117,26}}</string>
                <key>sourceSize</key>
                <string>{1117,26}</string>
            </dict>
            <key>k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1951},{260,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,74}}</string>
                <key>sourceSize</key>
                <string>{260,74}</string>
            </dict>
            <key>lanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,498},{252,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,87}}</string>
                <key>sourceSize</key>
                <string>{252,87}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1121},{558,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,233}}</string>
                <key>sourceSize</key>
                <string>{558,233}</string>
            </dict>
            <key>lvse.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,752},{252,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,87}}</string>
                <key>sourceSize</key>
                <string>{252,87}</string>
            </dict>
            <key>qingse.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,498},{252,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,87}}</string>
                <key>sourceSize</key>
                <string>{252,87}</string>
            </dict>
            <key>sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,841},{72,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>wkq.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,752},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>ykq.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,841},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,989},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,989},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUI.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:739edbc063650c6fd2ef98045137e422$</string>
            <key>textureFileName</key>
            <string>gameUI.png</string>
        </dict>
    </dict>
</plist>
